body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
    max-width: 960px;
    padding: 40px 10px;
    line-height: 1.65em;
    background: #89e4e7;
    color: #fff;
    font-weight: 300;
}

#caja {
    /*opacity: 0;*/
    margin: 30px auto 0;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    color: black;
    transition: 1s linear;
}

.button {
    background: #0b7fba;
    border: 0;
    color: #fff;
    font-size: 15px;
    padding: 1em 1em;
    cursor: pointer;
    margin: 0 auto 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

#mostrar-ocultar {
    text-align: center;
    color: rgb(7, 7, 7);
}

#texto {
    width: 50%;
    height: 300px;
}